#rm_extensions_block {
  flex-direction: column;
  padding-bottom: 0;
}
#rm_extensions_block[style*="display: block"] {
  display: flex !important;
}
#rm_extensions_block .extensions_block {
  container-type: inline-size;
  overflow: auto;
}
@container (width < 1000px) {
  #extensions_settings,
  #extensions_settings2 {
    flex-basis: 100%;
  }
}
.popup:has(.stem--readme) {
  height: auto !important;
}
.stem--head .menu_button,
.stem--head label {
  display: none;
}
.stem--tabs {
  display: flex;
  justify-content: start;
  gap: 1em;
  border-bottom: 2px solid var(--SmartThemeBorderColor);
  padding: 0 1em;
}
.stem--sep {
  flex: 1 1 auto;
}
.stem--tab {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: rgb(from var(--SmartThemeBlurTintColor) r g b / 1);
  border: 2px solid rgb(from var(--SmartThemeBorderColor) r g b / 0.5);
  border-bottom-color: rgb(from var(--SmartThemeBorderColor) r g b / 1);
  border-radius: 6px 6px 0 0;
  color: rgb(from var(--SmartThemeBodyColor) r g b / 0.5);
  cursor: pointer;
  padding: 2px 5px;
  position: relative;
  text-align: center;
  top: 2px;
  transition: 200ms;
}
.stem--tab.stem--button {
  aspect-ratio: 1;
  height: 1lh;
  border-radius: 6px;
  align-self: center;
  padding: 1px;
}
.stem--tab:hover {
  border-color: rgb(from var(--SmartThemeBorderColor) r g b / 1);
  color: rgb(from var(--SmartThemeBodyColor) r g b / 1);
}
.stem--tab.stem--active {
  border-color: rgb(from var(--SmartThemeQuoteColor) r g b / 1);
  border-bottom-color: rgb(from var(--SmartThemeBlurTintColor) r g b / 1);
  color: rgb(from var(--SmartThemeBodyColor) r g b / 1);
}
.stem--tab.stem--active::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -1em;
  width: 1em;
  height: 2px;
  background: linear-gradient(-90deg, rgb(from var(--SmartThemeQuoteColor) r g b / 1), transparent);
}
.stem--tab.stem--active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  right: -1em;
  width: 1em;
  height: 2px;
  background: linear-gradient(90deg, rgb(from var(--SmartThemeQuoteColor) r g b / 1), transparent);
}
.stem--tab.stem--active .fa-fw {
  color: var(--SmartThemeQuoteColor);
}
.stem--body {
  background-color: rgb(from var(--SmartThemeBlurTintColor) r g b / 1);
  border: 2px solid rgb(from var(--SmartThemeBorderColor) r g b / 1);
  border-top: none;
  border-radius: 0 0 6px 6px;
  display: none;
  height: 100%;
  overflow: auto;
  padding: 0.5em;
}
.stem--body.stem--active {
  display: flex;
}
.stem--body.stem--manageExtensions {
  flex-direction: column;
  padding: 0;
}
.stem--body.stem--managePlugins {
  flex-direction: column;
  padding: 0;
}
.stem--body.stem--managePlugins .stem--table {
  flex: 0 0 auto;
}
.stem--body.stem--catalog {
  flex-direction: column;
  padding: 0.5em 0;
}
.stem--body.stem--catalog .stem--list {
  --tileSize: 250;
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(var(--tileSize) * 1px), 1fr));
  gap: 1em;
  overflow: auto;
}
.stem--body.stem--catalog .stem--list .stem--item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: color-mix(in srgb, #808080 30%, var(--SmartThemeBlurTintColor));
  border-radius: 5px;
}
.stem--body.stem--catalog .stem--list .stem--item.stem--installed {
  opacity: 0.5;
}
.stem--body.stem--catalog .stem--list .stem--item:hover > .stem--preview {
  opacity: 1;
  filter: saturate(1);
}
.stem--body.stem--catalog .stem--list .stem--item .stem--preview {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 3 / 1;
  background-color: color-mix(in srgb, #808080 75%, var(--SmartThemeBlurTintColor));
  background-size: cover;
  background-position: center;
  border-radius: 5px 5px 0 0;
  container-type: inline-size;
  filter: saturate(0.5);
  opacity: 0.5;
  transition: 200ms;
}
.stem--body.stem--catalog .stem--list .stem--item .stem--preview:before {
  font-size: 30cqw;
  opacity: 0.25;
}
.stem--body.stem--catalog .stem--list .stem--item .stem--name {
  font-size: 1.25em;
  padding: 0 0.25em;
}
.stem--body.stem--catalog .stem--list .stem--item .stem--author {
  color: var(--SmartThemeEmColor);
  font-size: smaller;
  padding: 0 0.25em;
}
.stem--body.stem--catalog .stem--list .stem--item .stem--description {
  flex: 1 1 auto;
  margin: 5px 0;
  font-size: small;
  padding: 0 0.25em;
}
.stem--body.stem--catalog .stem--list .stem--item .stem--tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0.25em;
}
.stem--body.stem--catalog .stem--list .stem--item .stem--tag {
  background: black;
  border-radius: 0.5lh;
  padding: 0 0.5lh;
  font-size: 0.75em;
  cursor: default;
}
.stem--body.stem--catalog .stem--list .stem--item .stem--actions {
  display: flex;
  gap: 0.5em;
  padding: 0 0.25em;
}
.stem--body.stem--raw {
  flex-direction: column;
}
.stem--body.stem--raw .stem--actions {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
  align-items: baseline;
}
.stem--body.stem--raw .stem--actions .text_pole {
  width: auto;
}
.stem--body.stem--raw .stem--actions .stem--sep {
  flex: 1 1 auto;
}
.stem--body.stem--raw textarea {
  flex: 1 1 auto;
}
.stem--body.stem--config {
  flex-direction: column;
}
.stem--body.stem--config .stem--actions {
  display: flex;
  gap: 1em;
  justify-content: flex-end;
}
.stem--body.stem--config textarea {
  flex: 1 1 auto;
}
.stem--filters {
  display: flex;
  gap: 1em;
  align-items: baseline;
  background-color: var(--SmartThemeBorderColor);
  padding: 0.25em 0.5em;
}
.stem--filters .stem--search {
  display: flex;
  align-items: baseline;
  gap: 0.5em;
  flex: 1 1 auto;
}
.stem--filters .stem--group {
  display: flex;
  gap: 1em;
  align-items: baseline;
  position: relative;
  padding-top: 0.7em;
}
.stem--filters .stem--groupLabel {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.7em;
  line-height: 1;
  opacity: 0.5;
}
.stem--filters .stem--filter {
  display: flex;
  align-items: baseline;
  gap: 0.5em;
  font-size: small;
}
.stem--table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}
.stem--table thead {
  background-color: var(--SmartThemeBorderColor);
  position: sticky;
  top: 0;
  z-index: 1;
}
.stem--table tr {
  border-bottom: 5px solid var(--SmartThemeBorderColor);
  transition: 200ms;
  background-color: var(--primaryBgCol, var(--SmartThemeBlurTintColor));
}
.stem--table tr:hover {
  background-color: color-mix(in srgb, var(--SmartThemeQuoteColor) 50%, transparent 50%);
}
.stem--table tr.stem--isBusy {
  pointer-events: none;
  opacity: 0.75;
  filter: grayscale(1);
}
.stem--table tr.stem--mustReload {
  background-color: rgba(189, 54, 47, 0.5);
}
.stem--table tr.stem--isDisabled {
  opacity: 0.5;
}
.stem--table tr.stem--isDisabled .stem--toggle {
  color: #bd362f;
}
.stem--table tr[data-stem--hasErrors] .stem--actions .stem--action.stem--errorLog {
  opacity: 1;
  pointer-events: all;
}
.stem--table tr[data-stem--filter]:not([data-stem--filter="[]"]) {
  display: none;
}
.stem--table tr .stem--toggle {
  color: #51a351;
}
.stem--table th,
.stem--table td {
  text-align: left;
  padding: 0 1em;
  width: 0;
}
.stem--table td {
  color: rgb(from var(--SmartThemeBodyColor) r g b / 0.75);
  font-size: small;
}
.stem--table [data-property="Name"] {
  color: rgb(from var(--SmartThemeBodyColor) r g b / 1);
  font-size: 1em;
}
.stem--table [data-property="Version"] {
  text-align: right;
}
.stem--table [data-property="Branch"]:not([data-count]) .stem--action,
.stem--table [data-property="Branch"][data-count="0"] .stem--action,
.stem--table [data-property="Branch"][data-count="1"] .stem--action {
  display: none;
}
.stem--table [data-property="Branch"] .stem--branchLabel {
  flex: 1 1 auto;
}
.stem--table [data-property="Source"] {
  text-align: center;
}
.stem--table [data-property="URL"] {
  position: relative;
  width: 100%;
}
.stem--table [data-property="URL"] .stem--urlWrap {
  display: flex;
  align-items: center;
  position: absolute;
  inset: 0;
}
.stem--table [data-property="URL"] .stem--urlWrap a {
  flex: 1 1 auto;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stem--table .stem--source.stem--core:after {
  content: '';
  aspect-ratio: 1 / 1;
  background-image: url('/favicon.ico');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  height: 14px;
}
.stem--table .stem--actions {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.stem--table .stem--actions .stem--action {
  transition: 200ms;
}
.stem--table .stem--actions .stem--action.stem--noUpdate {
  color: #51a351;
  opacity: 0.5;
}
.stem--table .stem--actions .stem--action.stem--hasUpdate {
  color: #2f96b4;
}
.stem--table .stem--actions .stem--action.stem--error {
  color: #f89406;
}
.stem--table .stem--actions .stem--action.stem--errorLog {
  color: #bd362f;
  opacity: 0;
  pointer-events: none;
  transition: 200ms;
}
.stem--table .stem--actions .stem--action.stem--errorLog .fa-exclamation {
  color: white;
}
body .popup .stem--readme {
  border: none;
  padding: 0;
  text-align: left;
}
.stem--reloadWarning {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  pointer-events: none;
  text-align: center;
  font-weight: bold;
  z-index: 60000;
  transform: scaleY(0);
  transition: 200ms;
  transform-origin: top center;
}
body:has(.stem--mustReload) .stem--reloadWarning {
  transform: scaleY(1);
}
@media screen and (max-width: 1400px) {
  .stem--filters {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1em;
    background-color: var(--SmartThemeBorderColor);
  }
  .stem--filters .stem--search {
    flex-basis: 100%;
  }
  .stem--filters .stem--filter {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 1000px) {
  .stem--table {
    display: flex;
    flex-direction: column;
  }
  .stem--table thead {
    display: none;
  }
  .stem--table tbody {
    display: contents;
  }
  .stem--table .stem--item {
    display: flex;
    flex-wrap: wrap;
  }
  .stem--table [data-property="Name"] {
    flex-basis: calc(100% - 3em);
  }
  .stem--table [data-property] {
    width: auto;
  }
  .stem--table [data-property="Source"] {
    flex-basis: 3em;
  }
  .stem--table [data-property="Actions"] {
    flex-basis: 100%;
  }
  .stem--table [data-property="URL"] {
    flex: 1 1 auto;
  }
  .stem--table .stem--actions {
    justify-content: end;
  }
}
.stem--errorLogPopup {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.stem--errorLogPopup .stem--title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.stem--errorLogPopup .stem--title .stem--success {
  background-color: #51a351;
}
.stem--errorLogPopup .stem--title .stem--failure {
  background-color: #bd362f;
}
.stem--errorLogPopup .stem--errorContent {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
  overflow: auto;
}
.stem--errorLogPopup .stem--errorContent .stem--error {
  background-color: rgba(189, 54, 47, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-family: var(--monoFontFamily);
  font-size: smaller;
}
.stem--errorLogPopup .stem--errorContent .stem--error .stem--head {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.25em;
}
.stem--errorLogPopup .stem--errorContent .stem--error .stem--stack {
  padding: 0.5em;
  white-space: pre-wrap;
}
